.video-container {
  max-width: 1800px;
  max-height: 1000px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.navigation {
  text-align: center;
  padding-top: 10px;
}

.video-nav-btn {
  margin-right: 25px;
}
