<div class="row">
  <div class="col-md-12">
    <div class="video-container">
      <div class="padding-zero embed-responsive embed-responsive-16by9">
        <video id="video" class="embed-responsive-item" [src]="currentVideo" autoplay (ended)="autoChangeVideo()"></video>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="navigation">
        <div *ngFor="let video of videoLibrary" class="btn-group dropup">
          <button type="button" class="btn btn-outline-primary" [value]="video.id" (click)="changeVideo($event)">
            {{ video.buttonName }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
